#img1-archive {
	top: 25%;
	left: 5%;
}

#img2-archive {
	top: 45%;
	left: 65%;
}

#img3-archive {
	top: 55%;
	left: 30%;
}

#img4-archive {
	top: 75%;
	left: 55%;
}

#img5-archive {
	top: 85%;
	left: 20%;
}

#img6-archive {
	top: 105%;
	left: 35%;
}
#img7-archive {
	top: 115%;
	left: 5%;
}

#img8-archive {
	top: 135%;
	left: 65%;
}

#img9-archive {
	top: 165%;
	left: 30%;
}

#img10-archive {
	top: 145%;
	left: 55%;
}

#img11-archive {
	top: 175%;
	left: 20%;
}

#img12-archive {
	top: 195%;
	left: 35%;
}

#img13-archive {
	top: 205%;
	left: 5%;
}

#img14-archive {
	top: 225%;
	left: 65%;
}

#img15-archive {
	top: 275%;
	left: 30%;
}

#img16-archive {
	top: 255%;
	left: 55%;
}

#img17-archive {
	top: 305%;
	left: 20%;
}

#img18-archive {
	top: 285%;
	left: 35%;
}

#img19-archive {
	top: 315%;
	left: 5%;
}

#img20-archive {
	top: 335%;
	left: 65%;
}

